.Event {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 5px 25px;
    border: 1px solid #AA6817;
    width: 100px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    outline: none;
}


.Text {
    margin: 0;
    position: relative;
    top: 25%;
}